
/* General Settings */

body {
    background-color: #141d33;
    color: white;
    font-family: "Sulphur Point", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

h1{
    color: white;
    margin: 50px 0 50px 10px;
}





/* General Layout */

#return{
  color: white;
  width: 200px;
  position: fixed;
  top: 80px;
  left: calc(100vw / 2 - 750px);
  cursor: pointer;
}

.container{
    margin: 25px auto;
    width: 1088px;
    background-color: #192441;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 0 0 15px rgb(121, 121, 121);
    padding: 10px;
    box-sizing: border-box;
}

.year{
  margin: 10px;
}

.flexbox{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}





/* Project Layout */


.project {
    margin: 0 10px 20px 10px;
    padding: 0 0 20px 20px;
    border: 1px solid #FFFFFF00;
    border-radius: 5px;
    overflow: hiddden;
    transition: background 0.5s ease;
    width: 475px;
    border: 1px solid white;
    background: #21325a;
    cursor: pointer;
    
}

.project:hover {
  background: #263A69;
}

.project-inner-flexbox{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.description{
  max-width: 60%;
}

.tech-container {
  display: flexbox;
}

.tech-label {
  border-radius: 50px;
  padding: 0 15px;
  margin: 0 -5px 5px 0;
  height: 30px;
  color: #65ffed;
  background-color: #122b39;
  border: 1px solid #65ffed1e;
}

.preview{
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
  right: 10px;
}








  /* Responsive Design */


@media (max-width: 1540px) {


  /* General Layout */

  #return{
    top: 100px;
    position: relative;
    left: calc(100vw / 2 + 300px);
  }

  .container{
        margin: -25px auto 0 auto;
  }
}


@media (max-width: 1200px) {


      /* General Layout */

  #return{
    display: none;
  }

  .container{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    background-color: #141d33;
    border: none;
    box-shadow: none;
  }




  /* Project Layout */

  .year-wrapper{
    margin: 50px auto;
  }

  .flexbox{
    flex-direction: column;
  }

  .project{
    width: 90%;
    margin: 10px auto;
  }
}


@media (max-width: 510px) {


  /* Project Layout */


  .preview{
    max-width: 140px;
    max-height: 140px;
  }
}




@media handheld {


  /* General Layout */

#return{
display: none;
}

.container{
margin: 0 auto;
width: 100%;
max-width: 900px;
background-color: red;
border: none;
box-shadow: none;
}




/* Project Layout */

.year-wrapper{
margin: 50px auto;
}

.flexbox{
flex-direction: column;
}

.project{
width: 90%;
margin: 10px auto;
}
}