body, html {
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    background-color: #0f172a;
    font-family: "Sulphur Point", sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    position: relative;
  }
  
  .columns-container {
    width: 1088px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    position: relative;
  }
  
  .left-column {
    width: 528px; /* One third of parent's width */
    padding: 0px 40px 0 0;
    background-color: #f2f2f200;
    position: sticky;
    top: 0;
    height: 100vh; /* Ensuring the left column takes full height */
    box-sizing: border-box;
  }
  
  #left-heading {
    margin-top: 100px;
    font-size: 54px;
  }
  
  .right-column {
    padding: 0px 0px 0px 40px;
    background-color: #e6e6e600;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrollbar */
    width: 576px;
    top: 0;
  }

  #right-heading{
    margin-top: 100px;
    padding: 0 0 0 20px;
  }
  
  .project {
    margin-bottom: 20px;
    padding: 10px 0 10px 20px;
    border: 1px solid #FFFFFF00;
    border-radius: 5px;
    overflow: hiddden;
    transition: background 0.5s ease;
  }

  .project:hover {
    border: 1px solid white;
    background: #263A69;
  }

  #project-link {
    padding: 0 0 0 20px;
  }
  
  /* Responsive layout */
  @media only screen and (max-width: 768px) {
    .container {
      align-items: flex-start;
    }
    .columns-container {
      flex-direction: column;
    }
    .left-column, .right-column {
      width: 100%;
    }
  }


  