
/* General Settings */

body, html {
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    background-color: #141d33;
    font-family: "Sulphur Point", sans-serif;
  }

  ::-webkit-scrollbar {
    display: none;
}

a{
  color: white;
}






/* Top Layout */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: relative;
}

.columns-container {
  width: 1088px;
  display: flex;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  position: relative;
}






/* Left Column */

  
  .left-column {
    width: 528px;
    padding: 0px 40px 0 0;
    background-color: #f2f2f200;
    top: 0;
    min-height: 100vh;
    box-sizing: border-box;
  }






/* Left Top */


  .left-main{
    max-width: 480px;
  }
  
  #left-heading {
    margin-top: 100px;
    font-size: 54px;
  }





/* Left Bottom */

  .left-footer{
    padding: 0 20px 0 0;
    margin-top: 100px;
  }

  .social-list {
    margin-top: 10px;
    padding: 0;
  }

  .social-list li {
    display: inline-block;
    
  }

  img{
    width: 70px;
    height: 70px;
  }

  i {
    font-size: 32px;
    margin: 0 5px;
  }







/* Right Coloumn */
  
  .right-column {
    padding: 0px 0px 0px 40px;
    background-color: #e6e6e600;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrollbar */
    width: 576px;
    top: 0;
  }







/* Projects */

  .projects{
    margin: 100px 0 200px 0;
  }

  #right-heading{
    margin: 100px 0 21px 20px;
  }
  
  .project {
    margin-bottom: 20px;
    padding: 0 20px 20px 20px;
    border: 1px solid #FFFFFF00;
    border-radius: 10px;
    overflow: hiddden;
    transition: background 0.5s ease;
  }

  .project:hover {
    cursor: pointer;
    border: 1px solid white;
    background: #263A69;
  }

  .tech-container {
    display: flexbox;
  }

  .tech-label {
    border-radius: 50px;
    padding: 0 15px;
    margin-bottom: 5px;
    height: 30px;
    color: #65ffed;
    background-color: #122b39;
    border: 1px solid #65ffed1e;
  }

  #project-link {
    padding: 0 0 0 70px;
    margin: 70px 0;
    color:#65ffed;
    cursor: pointer;
  }







/* Career Section */


.career{
  margin: 0 0 100px 0;
}

#station-heading{
  margin: 20px;
}

.station{
  margin: 0 0 20px 0;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hiddden;
  cursor: pointer;
}

.duration{
  margin: 0;
  font-style: italic;
  color: #65ffed
}

.job{
  margin: 0 0 10px 0;
}







/* Responsive Design */



@media (max-width: 1200px) {


/* General Layout */

  .columns-container {
    flex-direction: column;
    width: 70vw;
    min-width: 300px;
    display: flex;
    height: 100%;
    position: relative;
  }

  .left-column, .right-column {
    width: 100%;
    padding: 0;
  }






/* Left side */

  .left-main{
    margin: 0 0 200px 0;
  }

  .left-footer{
    position: static;
    padding: 0;
    margin: -100px 0 50px 0;
  }




  


/* Right side */

  .projects{
    margin: 100px auto;
  }

  .project{
    border: 1px solid white;
  }

}